@using Clique;
@model Tuple<List<Clique.Models.Services>, List<Clique.Models.FACULTYSERVICE>>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Green Counter Report | Clique</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <link rel="icon" type="image/png" href="~/Content/images/icon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="stylesheet" href="~/Content/css/prism-toolbar.css">
    <link rel="stylesheet" href="~/Content/css/prism-okaidia.css">
    <link rel="stylesheet" href="~/Content/css/dashboard.css" id="theme-stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
            <a class="sidebar-toggler text-gray-500 me-4 me-lg-5 lead" href="#"><i class="fas fa-align-left"></i></a><a class="navbar-brand fw-bold text-uppercase text-base" href="/Clique/AdminDashboard"><span class="d-none d-brand-partial">University </span><span class="d-none d-sm-inline">Registrar</span></a>
            <ul class="ms-auto d-flex align-items-center list-unstyled mb-0">
                <li class="nav-item dropdown ms-auto">
                    <a class="nav-link pe-0" id="userInfo" href="#" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><img class="avatar" src="~/Content/images/user.png"></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated" aria-labelledby="userInfo">
                        <div class="dropdown-header text-gray-700">
                            <h6 class="text-uppercase font-weight-bold top-right">Admin</h6>
                        </div>
                        @Html.ActionLink("Reset Queue", "resetqueue", "reset", new { @class = "dropdown-item", onclick = "return confirm('Are you sure you want to reset the queue?');" })
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <div class="sidebar py-3" id="sidebar">
            <h6 class="sidebar-heading">Main</h6>
            <ul class="list-unstyled">
                <li class="sidebar-list-item">
                    <a class="sidebar-link text-muted active" href="/Clique/AdminDashboard">
                        <svg class="svg-icon svg-icon-md me-3">
                            <use xlink:href="~/Content/icons/orion-svg-sprite.svg#real-estate-1"> </use>
                        </svg><span class="sidebar-link-title">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a class="sidebar-link text-muted" href="/Clique/Accounts">
                        <svg class="svg-icon svg-icon-md me-3">
                            <use xlink:href="~/Content/icons/orion-svg-sprite.svg#user-1"></use>
                        </svg><span class="sidebar-link-title">Accounts</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a class="sidebar-link text-muted " href="#" data-bs-target="#formsDropdown" role="button" aria-expanded="false" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-md me-3">
                            <use xlink:href="~/Content/icons/orion-svg-sprite.svg#survey-1"> </use>
                        </svg><span class="sidebar-link-title">Reports </span>
                    </a>
                    <ul class="sidebar-menu list-unstyled collapse " id="formsDropdown">
                        <li class="sidebar-list-item">
                            <a class="sidebar-link text-muted" href="/Clique/AdmissionReports">Admission</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a class="sidebar-link text-muted" href="/Clique/StudentReports">Student or Graduate</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a class="sidebar-link text-muted" href="/Clique/FacultyReports">Faculty</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a class="sidebar-link text-muted" href="/Clique/OthersReports">Others</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h6 class="sidebar-heading">OTHERS</h6>
            <ul class="list-unstyled">
                <li class="sidebar-list-item">
                    <a class="sidebar-link text-muted" href="~/Clique/Index">
                        <svg class="svg-icon svg-icon-md me-3">
                            <use xlink:href="~/Content/icons/orion-svg-sprite.svg#arrow-left-1"></use>
                        </svg><span class="sidebar-link-title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-holder bg-gray-100">
            <div class="container-fluid px-lg-4 px-xl-5">
                <h2 class="text-green">Green Counter</h2>
                <section class="mb-3 mb-lg-5">
                    <div class="row">
                        <div class="date-label">
                            <label for="">Start Date</label>
                            <label for="" class="date-label-right">End Date</label>
                        </div>
                        @using (Html.BeginForm("UpdateGreenCounterReports", "Clique", FormMethod.Post, new { @class = "month-year-picker" }))
                        {
                            @Html.TextBox("Start", null, new { type = "date" }) <text>&nbsp;&nbsp;</text>
                            @Html.TextBox("End", null, new { type = "date" }) <text>&nbsp;&nbsp;</text>
                            <input type="submit" , class="btn btn-month-year" value="UPDATE" />
                        }

                        @{
                            int addingchanging = 0;
                            int certificationauth = 0;
                            int claimingofreq = 0;
                            int clearance = 0;
                            int completionofgrades = 0;
                            int crossenrollment = 0;
                            int documentreq = 0;
                            int subjectcred = 0;
                            int others = 0;
                            int dropping = 0;
                            int admission = 0;
                            int fverification = 0;


                            for (int i = 0; i < Model.Item1.Count() + Model.Item2.Count(); i++)
                            {
                                try
                                {

                                    if (Model.Item1[i].crudsubject)
                                    {
                                        addingchanging = addingchanging + 1;
                                    }
                                    if (Model.Item1[i].certificationverificationauthentication)
                                    {
                                        certificationauth = certificationauth + 1;
                                    }
                                    if (Model.Item1[i].claimofrequestdoc)
                                    {
                                        claimingofreq = claimingofreq + 1;
                                    }
                                    if (Model.Item1[i].clearance)
                                    {
                                        clearance = clearance + 1;
                                    }
                                    if (Model.Item1[i].completionofgrade)
                                    {
                                        completionofgrades = completionofgrades + 1;
                                    }
                                    if (Model.Item1[i].crossenrollment)
                                    {
                                        crossenrollment = crossenrollment + 1;
                                    }
                                    if (Model.Item1[i].documentreq)
                                    {
                                        documentreq = documentreq + 1;
                                    }
                                    if (Model.Item1[i].subjectcrediting)
                                    {
                                        subjectcred = subjectcred + 1;
                                    }
                                    if (Model.Item1[i].others)
                                    {
                                        others = others + 1;
                                    }
                                    if (Model.Item1[i].droppingcourse)
                                    {
                                        dropping = dropping + 1;
                                    }
                                    if (Model.Item1[i].admission)
                                    {
                                        admission = admission + 1;
                                    }



                                }
                                catch { }


                                try
                                {
                                    if (Model.Item2[i].clearance)
                                    {
                                        clearance = clearance + 1;
                                    }
                                    if (Model.Item2[i].verification)
                                    {
                                        fverification = fverification + 1;
                                    }
                                    if (Model.Item2[i].others)
                                    {
                                        others = others + 1;
                                    }
                                }
                                catch
                                {

                                }
                            }
                        }
                        <hr class="solid">
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Admission</h6>
                                        <h3 class="mb-0 text-green">@admission</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#news-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Adding, Changing, Dropping of Subjects</h6>
                                        <h3 class="mb-0 text-green">@addingchanging</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#news-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Certification, Authentication, Verification</h6>
                                        <h3 class="mb-0 text-green">@certificationauth</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#security-shield-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Claiming of Requested Document</h6>
                                        <h3 class="mb-0 text-green">@claimingofreq</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#reading-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Clearance</h6>
                                        <h3 class="mb-0 text-green">@clearance</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#list-details-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Completion of Grade</h6>
                                        <h3 class="mb-0 text-green">@completionofgrades</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#quality-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Cross Enrollment</h6>
                                        <h3 class="mb-0 text-green">@crossenrollment</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#add-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black"> Document Request, Transcript of Records, Certifications, Transfer Credentials</h6>
                                        <h3 class="mb-0 text-green">@documentreq</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#survey-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Dropping of Course</h6>
                                        <h3 class="mb-0 text-green">@dropping</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#minus-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Subject Crediting</h6>
                                        <h3 class="mb-0 text-green">@subjectcred</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#document-saved-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Others</h6>
                                        <h3 class="mb-0 text-green">@others</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#more-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="text-black">Verification of Grades</h6>
                                        <h3 class="mb-0 text-green">@fverification</h3>
                                    </div>
                                    <svg class="svg-icon text-green ">
                                        <use xlink:href="~/Content/icons/orion-svg-sprite.svg#checkmark-1"> </use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start fw-bold">
                            <p class="mb-2 mb-md-0 fw-bold">CLIQUE &copy; 2021 • Web Based Queue Management System</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
    <script src="~/Content/js/tables-datatable.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/js.cookie.min.js"></script>
    <script src="~/Content/js/theme.js"></script>
    <script src="~/Content/js/prism.js"></script>
    <script src="~/Content/js/prism-normalize-whitespace.min.js"></script>
    <script src="~/Content/js/prism-toolbar.min.js"></script>
    <script src="~/Content/js/prism-copy-to-clipboard.min.js"></script>
    <script type="text/javascript">
        Prism.plugins.NormalizeWhitespace.setDefaults({
            'remove-trailing': true,
            'remove-indent': true,
            'left-trim': true,
            'right-trim': true,
        });
    </script>

    <link rel="stylesheet" href="~/Content/css/font-awesome.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>